@model berkeley_college.Models.Module

@{
    ViewData["Title"] = "Module Details";
}

<h1>Module Details</h1>
<br />

<div>
    <h5>Module</h5>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModuleCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModuleCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModuleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModuleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModuleTeachingDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModuleTeachingDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModuleCredit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModuleCredit)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ModuleId">Edit</a> |
    <a asp-action="Index">Back</a>
</div>
